div div span.title {
    color: red;
}

div span.title {
    color: blue;
}

div.title,div p {
    color: green;
}





.div {
    padding: 10px;
    color: white;
    background-color: rgb(184, 9, 9);
    width: fit-content;
    max-width: 400px;
    max-height: 50px;
}

.div-2 {
    padding: 10px;
    color: white;
    background-color: rgb(184, 9, 9);
    width: fit-content;
    max-width: 400px;
    max-height: 50px;
    overflow-y: hidden;
}